.blogs-container {
  padding-top: 64px;
  display: flex;
  width: 1288px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 56px 32px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 408px;
  height: 620px;
}
.blog-landingPage-author {
  color: #1a1a1f;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.blog-landingPage-date {
  color: #85858d;
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.blog-landingPage-title {
  color: #1a1a1f;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* margin-top: 8px; */
  margin: 0;
}

.blog-categories-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 0;
}

.blog-category {
  border-radius: 30px;
  padding: 6px 10px;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
}
.blog-landingPage-link {
  color: #5d37f3;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.landingPage-description-blog {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #404049;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 408px;
}
