/* Styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Light background color */
  border-bottom: 1px solid #e4e3eb; /* Border at the bottom */
  padding: 0.5rem 2rem; /* Padding around the content */
  height: 80px;
}

.logo {
  font-size: 1.5rem;
  color: #ff0000; /* REDBERRY logo color */
  font-weight: bold;
}

.nav-button:hover {
  background-color: #3700b3; /* Darker purple on hover */
}

.nav-button {
  cursor: pointer;
  width: fit-content;
  padding-left: 1214px;
  padding-top: 30px;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #5d37f3;
  color: #fff;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
