.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
}

.modal-content {
  padding: 2rem;
  border-radius: 12px;
  background: #fff;
  width: 480px;
  height: 272px;
  flex-shrink: 0;
  position: relative;
  /* justify-content: center;
    align-items: center; */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-title {
  color: #1a1a1f;
  text-align: center;
  font-family: FiraGO;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.input-label {
  color: #1a1a1f;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-left: 24px;
}

.email-input {
  width: 432px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1.5px solid #5d37f3;
  background: #f7f7ff;
  margin-left: 24px;
  margin-top: 8px;
}

.submit-button {
  display: flex;
  width: 432px;
  padding: 10px 20px;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #5d37f3;
  color: #fff;
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 24px;
}

.submit-button:hover {
  background-color: #3700b3; /* Darker purple on hover */
}

.green-tick {
  margin-top: 64px;
  margin-left: 208px;
}
.modal-title {
  color: #1a1a1f;
  text-align: center;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
